@charset "UTF-8";
/* CSS Document */

.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    background: #efefef;
    border-radius: 10px;
}

#mainContent {
    display: grid;
    grid-template-columns: repeat(9,30px);
    grid-column-gap: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

section{
    grid-column: 1/-1;
    margin-right: 10px;
}

img {
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

h1,h2,h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(56, 100, 221);
}

p{
    font-family: 'Merriweather', serif;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 7px 0 burlywood;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0 2px 15px 0 black;
}

.text{
    padding: 3px 15px;
}

.last-card{
    margin-bottom: 50px;
}